@model OSJK.Web.Models.EmailFormVM

@{
    ViewBag.Title = "Kontakt";
}

@if (ViewBag.EmailSuccesful == true)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Tak for din besked.</strong> Din henvendelse vil blive besvaret hurtigst muligt
    </div>
}

<h2>@ViewBag.Title.</h2>

<h3>Adresse</h3>
<address>
    Værftsvej 31, kjn 017<br />
    4600 Køge<br />
    <abbr title="Telefon">P:</abbr>
    +45 46 36 14 03
</address>

<br />

<h3>Find os på Facebook</h3>

<a href="https://www.facebook.com/osjklub" class="btn btn-default" role="button">
    Her 
    <span class="glyphicon glyphicon-thumbs-up"></span>
</a>




<hr />

@using (Html.BeginForm("SendEmail", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Skriv til os</h3>

        <div class="form-group">
            @Html.LabelFor(m => m.Contact, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Contact, "- Vælg modtager -", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Contact, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
